/*左边机构树显示布局*/
.left {
    width: 400px;
    float: left;
    height: 100%;
}

/*右边操作区布局*/
.right {
    width: auto;
    height: 100%;
    margin-left: 410px;

    padding-top: 150px;
    box-sizing: border-box;
    position: relative;
}

/*右上定位区布局*/
.right-top {
    height: 150px;
    position: absolute;
    top: 0px;
    width: 100%;
}

/*右下功能区布局*/
.right-bottom {
    height: 100%;
}

/*搜索框*/
.search-text {
    width: 250px;
    height: 36px;
    border: 1px solid #339FD6;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    background: #fff;

    margin-top: 20px;
}

/*搜索图标*/
.search-icon {
    position: absolute;
    width: 42px;
    height: 36px;
    border: none;
    background: #006dcc linear-gradient(to bottom, #08c, #04c) repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

/*树具体信息显示区域*/
.showContent {
    width: 100%;
}

.showContent td {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #eeeeee;
    height: 80px;
    padding: 20px;
}

.showContent input {
    width: 250px;
    height: 30px;
    border: 1px solid #CDCDCD;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    background-color: #fff;
}